<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="windows-1251">
    <title>HTML Template for First Section</title>
<link href="styles.css" rel="stylesheet" type="text/css">
<style>
@page {
    size: A4;
    margin: 0mm;
}

td div, th div{
    page-break-inside: avoid;
}

</style>
</head>
<body>
<div class="centered">
    <h1 align="center">{{ data['title'] }}</h1>
	<h4 align="center">{{ data['subtitle'] }}</h4>
	<h3 align="center">{{ data['subtitle2'] }}</h3>
</div>
<table border=1 style="border-collapse:collapse;" align="center">
<tr align="center">
	<td colspan=3>Сведения об объекте</td>
</tr>
<tr>
	<td colspan=3>&nbsp;</td>
</tr>
<tr align="center">
	<td width="100">№ п/п</td>
	<td min-width=200>Характеристики объекта</td>
	<td>Описание характеристик</td>
</tr>

{% for k,v in data['characteristics'].items(): %}
<tr>
	<td width="16%" align="center">{{ loop.index }}</td>
	<td width="42%">{{ k }}</td>
	<td widht="42%">{{ v }}</td>
</tr>
{%endfor%}

</table>


</body>
</html>
